<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="cabeza">
    <div class="container-header" >

    <a th:href="@{/index}" class="logo"><h3 class="nombre-display"></h3><span class="apellido-display"></span> </a>

    <button class="btn-menu" aria-label="Abrir menú" aria-expanded="false"><i class="fa-solid fa-bars"></i></button>
    <nav class="navbar">
        <ul>
            <li><a th:href="@{/index}">Inicio</a></li>
            <li><a th:href="@{/sobremi}">Sobre mí</a></li>
            <li><a th:href="@{/proyectos}">Proyectos</a></li>
            <li><a th:href="@{/contacto}">Contacto</a></li>
        </ul>
    </nav>
</div>
</header>
<footer th:fragment="foot">
    <div class="container-footer">
        <div class="footer-superior">
            <div class="container-mapa">
                <h3>Mi <span>ubicación</span></h3>
                <div id="map"></div>
            </div>
            <div class="texto-footer">
                <div class="footer-menu">
                    <h4>Menu</h4>
                    <ul class="lista">
                        <li>
                            <a href="/index">Inicio</a>
                        </li>
                        <li>
                            <a href="/sobremi">Sobre mi</a>
                        </li>
                        <li>
                            <a href="/Proyectos">Proyectos</a>
                        </li>
                        <li>
                            <a href="/contacto"> contacto</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-contacto">
                    <h4>Contacto</h4>
                    <div class="styleFooter-contacto otra-lista"></div>
                </div>

                <div class="redes redes-footer">
                    <h4>redes</h4>
                    <div class="social-container style2"></div>
                </div>



            </div>
        </div>
        <div class="footer-inferior">
            <p class="copyright">
                ©    <span id="nombre-completo">    </span>    | Todos los derechos reservados.
            </p>
            <a href="/editor" class="btn-editar"><i class="fa-solid fa-gear"></i></a>
        </div>
    </div>
</footer>
</body>
</html>