<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-sobremi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Andres Garza</title>
</head>
<body>
    <div class="container-color-botones">
        <a class="boton-personalizacion-color" aria-expanded="false" aria-controls="menu-colores" title="Abrir selector de colores"><i class="fa-solid fa-pen" ></i></a>
        <div class="menu-desplegable-colores" id="menu-colores" role="menu" aria-hidden="true" tabindex="-1">
            <button class="circulo-color"  data-color="#e93535" role="listitem"></button>
            <button class="circulo-color" data-color="#00cc00" role="listitem"></button>
            <button class="circulo-color" data-color="#ff5e00" role="listitem"></button>
            <button class="circulo-color" data-color="#23a7ff" role="listitem"></button>
            <button class="circulo-color" data-color="#9900ff" role="listitem"></button>
        </div>
    </div>
    <button id="color-toggle-btn" aria-label="Cambiar colores de fondo y texto" aria-pressed="false" type="button">
        <i id="icon-sun" class="fa-solid fa-sun" style="display: inline-block;"></i>
        <i id="icon-moon" class="fa-solid fa-moon" style="display: none;"></i>
</button>
    <header>
        <div class="container-header">
            <a href="/index" class="logo"><h3 class="nombre-display">Andres</h3><span class="apellido-display">Garza</span> </a>
            <button class="btn-menu" aria-label="Abrir menú" aria-expanded="false"><i class="fa-solid fa-bars"></i></button>
            
            <nav class="navbar">
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/sobremi">Sobre mí</a></li>
                    <li><a href="/proyectos">Proyectos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>   
            </nav>
        </div>        
    </header>
    <main>
        <section class="sobremi" id="sobremi">
            <div class="container-principal-sobremi">
                <div class="descripcion-sobremi">
                    <div class="container-texto-sobremi">
                        <div class="texto-sobremi ">
                            <h2 class="texto-ascendente-principal">Sobre <span>mí</span></h2>
                            <br>
                            <p class="texto-ascendente-principal descripcion-display">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi illum fugit voluptatibus quidem quas quisquam suscipit deleniti ad repellat sapiente maiores doloremque eaque distinctio, quia eos aperiam ratione iste voluptatum. Lore</p>
                            <br>
                        </div>
                        
                        
                        <div class="tabla-responsive  texto-ascendente-principal">
                            <div class="fila">
                                <div class="celda">
                                    <b id="titulo-nacimiento">Campo 1:</b> <span id="nacimiento">Dato 1</span>
                                </div>
                                <div class="celda">
                                    <b id="titulo-edad">Campo 2:</b> <span id="edad">Dato 2</span>
                                </div>
                            </div>
                            <div class="fila">
                                <div class="celda">
                                    <b id="titulo-pais-nacimiento">Campo 3:</b> <span id="pais-nacimiento">Dato 3</span>
                                </div>
                                <div class="celda">
                                    <b id="titulo-nombre">Campo 4:</b> <span id="nombre">Dato 4</span>
                                </div>
                            </div>
                            <div class="fila">
                                <div class="celda">
                                    <b id="titulo-grado-academico">Campo 5:</b> <span id="grado-academico">Dato 5</span>
                                </div>
                                <div class="celda">
                                    <b id="titulo-nacionalidad">Campo 6:</b> <span id="nacionalidad">Dato 6</span>
                                </div>
                                </div>
                                <div class="fila">
                                    <div class="celda">
                                        <b id="titulo-residencia">Campo 7:</b> <span id="residencia">Dato 7</span>
                                    </div>
                                    <div class="celda">
                                        <b id="titulo-freelance">Campo 8:</b> <span id="freelance">Dato 8</span>
                                    </div>
                                </div>
                            </div>

                    </div>
                        <div class="btns texto-ascendente-principal">
                            <a href="#" class="open-cv btn-general btn-color btn-principal"> Descargar CV</a>
                            <a href="/contacto" class="btn-general btn-oscuro btn-principal"> Contactar</a>
                        </div>
                    
                </div>
                <div class="foto foto-sobremi">
                    <img class="mifoto imagen-cambiada" src="Link.jpg" alt="mifoto">
                </div>
            </div>
        </section>

        <div id="container-tarjetas-readonly"></div>


        
        <section class="mostrar-habilidades">
            <div class="container-habilidades">
                <div class="porque-contratarme">
                    <div class="texto-porque-contratarme">
                        <h3>¿Por qué <span>contratarme?</span></h3>
                        <p class="porque-contratarme-parrafo"></p>
                        <div id="filtro-seccion" class="contratarme-btns">
                            <button class="btn-porque-contratarme active">Mi Experiencia</button>
                            <button class="btn-porque-contratarme">Mi Educacion</button>
                            <button class="btn-porque-contratarme">Mis servicios</button>
                        </div>
                    </div>
                </div>
                <div class="pantalla-cambiante">
                    <div class="mostrar container-educacion active" >
                        <h3 class="texto-ascendente-sobremi">Mi <span>Educacion</span></h3>
                        <div class="conGeneral info-educacion">
                            <div class="timeline-item targeta-ascendente1">
                                <h5 class="fecha-educacion">
                                    <i class="fa-solid fa-calendar"></i> 2019-2020
                                </h5>
                                <h4>Master Desarrollo de Software</h4>
                                <h5 class="fecha-educacion"> <i class="fa-solid fa-circle"></i>  Instituto 1</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam officia dolore nobis nesciunt, iste accusamus esse eligendi autem cupiditate beatae architecto doloribus explicabo quo eos rem incidunt, consequuntur officiis!</p>
                            </div>
                            <div class="timeline-item targeta-ascendente1">
                                <div class="circle-dot"></div>
                                <h5 class="fecha-educacion">
                                    <i class="fa-solid fa-calendar"></i> 2020-2021
                                </h5>
                                <h4>Master en ciencias de la computación</h4>
                                <h5 class="fecha-educacion"><i class="fa-solid fa-circle"></i>Instituto 2</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam officia dolore nobis nesciunt, iste accusamus esse eligendi autem cupiditate beatae architecto doloribus explicabo quo eos rem incidunt, consequuntur officiis!</p>
                            </div>
                            <div class="timeline-item targeta-ascendente1">
                                <div class="circle-dot"></div>
                                <h5 class="fecha-educacion">
                                    <i class="fa-solid fa-calendar"></i> 2021-2022
                                </h5>
                                <h4>Master en Ciencia de Datos</h4>
                                <h5 class="fecha-educacion"><i class="fa-solid fa-circle"></i>Instituto 3</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam officia dolore nobis nesciunt, iste accusamus esse eligendi autem cupiditate beatae architecto doloribus explicabo quo eos rem incidunt, consequuntur officiis!</p>
                            </div>
                        </div>
                    </div>
                    <div class="mostrar container-experiencia">
                        <h3 class="tit-exp texto-ascendente-contacto">Mi <span>Experiencia</span></h3>
                        <div class="conGeneral info-experiencia">
                            <div class="timeline-item targeta-ascendente2">
                            <h5 class="fecha-educacion">
                                <i class="fa-solid fa-calendar"></i> 2023
                            </h5>
                            <h4>Desarrollador Full Stack</h4>
                            <h5 class="fecha-educacion"><i class="fa-solid fa-circle"></i>Empresa 1</h5>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam officia dolore nobis nesciunt, iste accusamus esse eligendi autem cupiditate beatae architecto doloribus explicabo quo eos rem incidunt, consequuntur officiis!</p>
                            </div>
                            <div class="timeline-item targeta-ascendente2">
                                <div class="circle-dot"></div>
                                <h5 class="fecha-educacion">
                                    <i class="fa-solid fa-calendar"></i> 2023-2024
                                </h5>
                                <h4>Analista de Datos</h4>
                                <h5 class="fecha-educacion"><i class="fa-solid fa-circle"></i>Empresa 2</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam officia dolore nobis nesciunt, iste accusamus esse eligendi autem cupiditate beatae architecto doloribus explicabo quo eos rem incidunt, consequuntur officiis!</p>
                            </div>
                            <div class="timeline-item targeta-ascendente2">
                                <div class="circle-dot"></div>
                                <h5 class="fecha-educacion">
                                    <i class="fa-solid fa-calendar"></i> 2025
                                </h5>
                                <h4>Desarrollador de Software</h4>
                                <h5 class="fecha-educacion"><i class="fa-solid fa-circle"></i>Empresa 3</h5>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab nam officia dolore nobis nesciunt, iste accusamus esse eligendi autem cupiditate beatae architecto doloribus explicabo quo eos rem incidunt, consequuntur officiis!</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="mostrar container-targetas">
                        <h3 class="texto-ascendente-extra">Mis <span>Servicios</span></h3>
                        <div class="targetas-servicios">
                            <div class="targeta-servicio targeta-ascendente3">
                                    <i class="fa-solid fa-code"></i>
                                    <h2 class="titulo-targeta">Frontend Developer</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minus. Nobis inventore similique, dolorem illo, facere nostrum tempora, quia itaque molestiae laboriosam corrupti vel nihil sint officiis officia esse eligendi!</p>
                                    <h4>Tecnologias</h4>
                                    <ul>
                                        <li>Html</li>
                                        <li>CSS</li>
                                        <li>JavaScript</li>
                                        <li>React</li>
                                        <li>Vue.js</li>
                                    </ul>
                                
                            </div>
                            <div class="targeta-servicio targeta-ascendente3">
                                <i class="fa-solid fa-gear"></i>
                                <h2 class="titulo-targeta">Backend Developer</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minus. Nobis inventore similique, dolorem illo, facere nostrum tempora, quia itaque molestiae laboriosam corrupti vel nihil sint officiis officia esse eligendi!</p>
                                <h4>Tecnologias</h4>
                                <ul>
                                    <li>PHP</li>
                                    <li>Node.js</li>
                                    <li>Java</li>
                                    <li>JavaScript</li>
                                    <li>Spring</li>
                                </ul>
                            </div>
                            <div class="targeta-servicio targeta-ascendente3">
                                <i class="fa-solid fa-database"></i>
                                <h2 class="titulo-targeta">Data Base Developer</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minus. Nobis inventore similique, dolorem illo, facere nostrum tempora, quia itaque molestiae laboriosam corrupti vel nihil sint officiis officia esse eligendi!</p>
                                <h4>Tecnologias</h4>
                                <ul>
                                    <li>SQL Server</li>
                                    <li>PostgreSQL</li>
                                    <li>Oracle</li>
                                    <li>MongoDB</li>
                                    <li>MySQL</li>
                                </ul>
                            </div>
                            <div class="targeta-servicio targeta-ascendente3">
                                <i class="fa-solid fa-desktop"></i>
                                <h2 class="titulo-targeta">Desktop Software Developer</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minus. Nobis inventore similique, dolorem illo, facere nostrum tempora, quia itaque molestiae laboriosam corrupti vel nihil sint officiis officia esse eligendi!</p>
                                <h4>Tecnologias</h4>
                                <ul>
                                    <li>Java</li>
                                    <li>Python</li>
                                    <li>.NET</li>
                                    <li>Git</li>
                                </ul>
                            </div>
                            <div class="targeta-servicio targeta-ascendente3">
                                <i class="fa-solid fa-mobile-button"></i>
                                <h2 class="titulo-targeta">Mobile Apps Developer</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minus. Nobis inventore similique, dolorem illo, facere nostrum tempora, quia itaque molestiae laboriosam corrupti vel nihil sint officiis officia esse eligendi!</p>
                                <h4>Tecnologias</h4>
                                <ul>
                                    <li>React Native</li>
                                    <li>Java</li>
                                    <li>Kotlin</li>
                                    <li>Swift</li>
                                </ul>
                            </div>
                            <div class="targeta-servicio targeta-ascendente3">
                                <i class="fa-solid fa-briefcase"></i>
                                <h2 class="titulo-targeta">Digital Market</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minus. Nobis inventore similique, dolorem illo, facere nostrum tempora, quia itaque molestiae laboriosam corrupti vel nihil sint officiis officia esse eligendi!</p>
                                <h4>Tecnologias</h4>
                                <ul>
                                    <li>Google Ads</li>
                                    <li>Publicidad online</li>
                                    <li>CRM</li>
                                    <li>SEO</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
        
        
        
    </main>
        <footer>
        <div class="container-footer">
                <div class="footer-superior">
                    <div class="container-mapa">
                        <h3>Mi <span>ubicación</span></h3>
                        <div id="map"></div>
                    </div>
                <div class="texto-footer">
                    <div class="footer-menu">
                        <h4>Menu</h4>
                        <ul class="lista">
                            <li>
                                <a href="/index">Inicio</a>
                            </li>
                            <li>
                                <a href="/sobremi">Sobre mi</a>
                            </li>
                            <li>
                                <a href="/Proyectos">Proyectos</a>
                            </li>
                            <li>
                                <a href="/contacto"> contacto</a>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="footer-contacto">
                        <h4>Contacto</h4>
                            <div class="contactos-list styleFooter-contacto"></div>
                        
                        
                    </div>
                    <div class="redes redes-footer">
                        <h4>redes</h4>
                        <div class="social-container style2"></div>
                    </div>

                    
                </div>
            </div>
            <div class="footer-inferior">
                <p class="copyright">
                © Andres Garza | Todos los derechos reservados.
                </p>
            </div>
        </div>
    </footer>
    <script src="script.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDpLiSpzD3YXJeZf7flL7cQnBCKyygQSI&callback=initMap"></script>
</body>
</html>